.question__form__main__container {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1d3557;
  }
  
  .question__form__main__container *:is(.question__form__sub__container, form) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .question__form__main__container
    .question__form__sub__container
    div.input__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .question__form__sub__container {
    /* width: 75%; */
    margin-bottom: 1rem;
    border-bottom: 1.5px solid #ddd;
  }
  .question__form__main__container::-webkit-scrollbar {
    width: 3px;
    background-color: #d5d5d5;
  }
  
  .question__form__sub__container label {
    width: 5rem;
  }
  
  .question__form__main__container::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #f31200, #d511d5);
  }
  
  .question__form__main__container :is(input, textarea) {
    width: 75%;
    outline: none;
    border: 2px solid #ddd;
    background-color: #f5f5f5;
    height: 3rem;
    border-radius: 1.5rem;
    padding: 1rem;
  }
  
  .question__form__main__container
    .question__form__sub__container
    div.details__container {
    display: flex;
    flex-direction: column;
    width: calc(75% + 5rem);
    align-items: flex-start;
  }
  
  .question__form__main__container textarea {
    height: 150px;
    border-radius: 0.5rem;
    width: 100%;
    resize: none;
  }
  
  .question__form__main__container input:focus {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }
  
  .input__container {
    margin-bottom: 1rem;
  }
  
  .question__form__main__container select {
    border: 2px solid #ddd;
    padding: 0.5rem;
    border-radius: 5px;
    width: 75%;
  }
  
   .add__new__topic__container {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    width: 75%;
  } 
  
  .cross__btn {
    color: rgba(255, 0, 0, 0.75);
    background-color: rgba(255, 0, 0, 0.25);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .question__form__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  
  .add__more__button {
    background-color: rgba(56, 142, 60, 0.5);
    color: rgb(56, 142, 60);
    border: 2px solid rgb(56, 142, 60);
    border-radius: 0.5rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
  }
  
  @media (max-width: 786px) {
    .question__form__main__container :is(input, select) {
      height: 2rem;
      padding: 0.5rem;
    }
    .question__form__main__container select {
      padding: 0;
    }
    .question__form__main__container label {
      width: 3rem;
    }
    .question__form__main__container .question__form__header,
    .question__form__main__container
      .question__form__sub__container
      div.details__container {
      width: calc(75% + 3rem);
    }
  }